In [1]:
import re
import pandas as pd

def attendacne(x):
    x = x.replace('-','')
    return pd.DataFrame({"CNIC":list(set(re.findall('\d{13}',x)))})

In [2]:
x = """
Farrukh Jalil11:30 AM
4210113978763
Syed Imran Ali11:35 AM
4210176950677
Syed Umair Ahmed11:36 AM
4130485196673
TARIQ JAMIL11:40 AM
42501-8229854-5
Syed Mohammad Asad Asad11:52 AM
4240180561365
Bilal Uddin12:06 PM
4220122191357
Syed Sajjad Ali Shah12:25 PM
1510120026221
Nadir Ali12:25 PM
4130311530273
Amna Shahid12:47 PM
3460348242756
Javeria Abbasi12:48 PM
4220140843098
Zoya Ansari12:52 PM
4220186465696
Rizwan Ali12:55 PM
4230174256393
Bilal Uddin12:55 PM
4210168710111
Rizwan Ali12:55 PM
4230181544787
Kenneth Fahad12:56 PM
33105-4159733-1
mcc-qjtf-rix
"""
df1 = attendacne(x)
print(len(df1))
df1.head(60)

15

             CNIC
0   4210176950677
1   4130311530273
2   3460348242756
3   4220140843098
4   4230181544787
5   4210113978763
6   4250182298545
7   4240180561365
8   4230174256393
9   4210168710111
10  1510120026221
11  4130485196673
12  3310541597331
13  4220186465696
14  4220122191357

In [3]:
x3 = """
Syed Sajjad Ali Shah11:25
1510120026221
Syed Umair Ahmed11:31
18 hain
Syed Imran Ali11:32
4210176950677
Atif Ismail11:33
4220102620907
Atif Ismail
Farrukh Jalil11:33
4210113978763
Momal Nadeem11:33
4200006898576
Momal Nadeem
Agha Zohaib11:40
4210168710111
Madiha Obaid Obaid11:40
4220105920780
MUSTAFA NADIMI11:40
5440053241639
Momal Nadeem11:40
Sir please write and explain code
Syed Mohammad Asad Asad11:42
4240180561365
Syed Umair Ahmed11:42
4130485196673
Syed Abbas Abbas11:42
1234567890123
You11:43
https://github.com/EnggQasim/PIAIC_Batach3_Quarter2/tree/master/Deep%20Learning/Chapter2/9_to_11
Bilal Uddin12:51
4220122191357
Rizwan Ali12:51
4230174256393
TARIQ JAMIL12:52
4250182298545
Zoya Ansari13:00
4220186465696
Amna Shahid13:00
3460348242756
mcc-qjtf-rix
"""

df3 = attendacne(x3)
print(len(df3))
df3.head(60)

16

             CNIC
0   4210176950677
1   3460348242756
2   5440053241639
3   4210113978763
4   4200006898576
5   4250182298545
6   4240180561365
7   4210168710111
8   4230174256393
9   1510120026221
10  4130485196673
11  4220186465696
12  4220122191357
13  4220105920780
14  4220102620907
15  1234567890123

In [4]:
x4 = """
Muneeb Abdul Rauf12:59
4230181544787
Rizwan Ali12:59
4230174256393
Kenneth Fahad13:00
3310541597331
Nadir Ali13:00
4130311530273
MUSTAFA NADIMI13:00
5440053241639
Farrukh Jalil13:00
4210113978763
Bilal Uddin13:01
4220122191357
Syed Imran Ali13:01
4210176950677
Madiha Obaid Obaid13:01
4220105920780
Syed Abbas Abbas13:05
1234567890123
Syed Mohammad Asad Asad13:06
4240180561365
Syed Umair Ahmed13:21
4130485196673
Syed Sajjad Ali Shah13:21
1510120026221
Amna Shahid13:32
3460348242756
Zoya Ansari13:57
4220186465696
Agha Zohaib13:58
4210168710111
You13:58
4250182298545
Syed Umair Ahmed14:16
4130485196673
Rizwan Ali14:20
4230174256393
Syed Imran Ali14:20
4210176950677
"""

df4 = attendacne(x4)
print(len(df4))
df4.head(60)

17

             CNIC
0   4210176950677
1   4130311530273
2   5440053241639
3   3460348242756
4   4230181544787
5   4210113978763
6   4250182298545
7   4240180561365
8   4230174256393
9   4210168710111
10  3310541597331
11  4130485196673
12  1510120026221
13  4220186465696
14  4220122191357
15  4220105920780
16  1234567890123

In [5]:
x5 = """
Madiha Obaid Obaid11:05 AM
No voice
Syed Imran Ali11:16 AM
4210176950677
Kenneth Fahad11:17 AM
3310541597331
MUSTAFA NADIMI11:17 AM
5440053241639
Javeria Abbasi11:18 AM
4220140843098
TARIQ JAMIL11:18 AM
42501-8229854-5
Farrukh Jalil11:18 AM
4210113978763
Rizwan Ali11:18 AM
4230174256393
Bilal Uddin11:25 AM
4220122191357
Syed Umair Ahmed11:28 AM
4130485196673
Amna Shahid11:30 AM
3460348242756
Atif Ismail11:31 AM
4220102620907
Syed Abbas Abbas11:34 AM
1234567890123
Zoya Ansari11:34 AM
4220186465696
Agha Zohaib11:34 AM
4210168710111
Syed Sajjad Ali Shah11:35 AM
1510120026221
Farrukh Jalil12:11 PM
SIR USING DIFFERENT BOOK
in the shared book what is the current chapter
Syed Imran Ali12:27 PM
totaltel??
What is the exact spelling
Syed Umair Ahmed12:34 PM
imran bhai toptal
Syed Imran Ali12:35 PM
ok thanks
Syed Umair Ahmed12:43 PM
4130485196673
Madiha Obaid Obaid12:43 PM
4220105920780
Momal Nadeem12:46 PM
4200006898576
zqg-ohwk-tof
"""
df5 = attendacne(x5)
print(len(df5))
df5.head(60)

17

             CNIC
0   4210176950677
1   3460348242756
2   5440053241639
3   4220140843098
4   4250182298545
5   4210113978763
6   4200006898576
7   4230174256393
8   4210168710111
9   3310541597331
10  4130485196673
11  1510120026221
12  4220186465696
13  4220122191357
14  4220105920780
15  4220102620907
16  1234567890123

In [6]:
x = """
Zoya Ansari1:56 PM
4220186465696
Bilal Khan1:56 PM
4220122191357
Farrukh Jalil1:56 PM
4210113978763
Rizwan Ali1:57 PM
4210168710111
Muneeb Abdul Rauf1:58 PM
4230181544787
Rizwan Ali1:58 PM
4230174256393
Nadir Ali1:58 PM
4130311530273
Zoya Ansari1:58 PM
4220186465696
Syed Imran Ali1:58 PM
4210176950677
Syed Abbas Abbas1:58 PM
1234567890123
TARIQ JAMIL1:58 PM
4250182298545
Farrukh Jalil1:58 PM
4210113978763
Madiha Obaid Obaid1:58 PM
4220105920780
Abdullah Mukhtar1:58 PM
4210175758189
MUSTAFA NADIMI1:58 PM
5440053241639
zqg-ohwk-tof
"""

df6 = attendacne(x)
print(len(df6))
df6.head(60)

13

             CNIC
0   4210176950677
1   4130311530273
2   5440053241639
3   4230181544787
4   4210113978763
5   4250182298545
6   4210168710111
7   4230174256393
8   4220186465696
9   4220122191357
10  4220105920780
11  1234567890123
12  4210175758189

In [7]:
df = df1.merge(df3,on='CNIC', how='outer').fillna(0).merge(df3,
                                                          on="CNIC",
                                                          how='outer').fillna(0)

df['total'] = df.iloc[:,1:].astype(int).sum(axis=1)
df.sort_values(by="total", inplace=True, ascending=False)
print(len(df))
display(df.iloc[:,1:].sum(axis=0).T)
df.head(60)

20

total    0.0
dtype: float64

             CNIC  total
0   4210176950677    0.0
1   4130311530273    0.0
18  4220102620907    0.0
17  4220105920780    0.0
16  4200006898576    0.0
15  5440053241639    0.0
14  4220122191357    0.0
13  4220186465696    0.0
12  3310541597331    0.0
11  4130485196673    0.0
10  1510120026221    0.0
9   4210168710111    0.0
8   4230174256393    0.0
7   4240180561365    0.0
6   4250182298545    0.0
5   4210113978763    0.0
4   4230181544787    0.0
3   4220140843098    0.0
2   3460348242756    0.0
19  1234567890123    0.0

In [8]:
x = """
Kenneth Fahad10:08 AM
what are the sources to search for pre-trained model?
can anyone please ask this on my behalf? my mic is not working
TARIQ JAMIL10:17 AM
https://tfhub.dev/
Big repository from tensorflow
Kenneth Fahad10:17 AM
Imran bhai can you share link of your published paper?
Kenneth Fahad10:31 AM
sir try ned email address
Kenneth Fahad10:32 AM
classification of objects
Syed Imran Ali10:37 AM
https://scholar.google.com.pk/citations?user=G24NdQ4AAAAJ&hl=ru
Kenneth Fahad10:40 AM
label = Output
Madiha Obaid Obaid10:50 AM
4220105920780
Bilal Uddin10:50 AM
4220122191357
TARIQ JAMIL10:51 AM
42501-8229854-5
Syed Abbas Abbas10:51 AM
1234567890123
Syeda Zehra Nadeem10:51 AM
4230123587896
Nadir Ali10:51 AM
4130311530273
Rizwan Ali10:52 AM
4230174256393
Syed Imran Ali10:53 AM
4210176950677
Farrukh Jalil10:59 AM
4210113978763
MUSTAFA NADIMI10:59 AM
5440053241639
Agha Zohaib10:59 AM
4210168710111
Syed Umair Ahmed11:00 AM
4130485196673
Kenneth Fahad11:19 AM
3310541597331
Kenneth Fahad11:50 AM
one size fits all
Zoya Ansari11:53 AM
4220186465696
Farrukh Jalil11:53 AM
4210113978763
Bilal Uddin11:53 AM
yes
Syed Sajjad Ali Shah11:53 AM
1510120026221
Javeria Abbasi11:53 AM
4220140843098
Kenneth Fahad11:54 AM
sure sir
Syed Imran Ali11:54 AM
4210176950677
Madiha Obaid Obaid11:54 AM
4220105920780
Bilal Uddin11:54 AM
4220122191357
Kenneth Fahad11:56 AM
code in easy
literature needs to be understood properly
zqg-ohwk-tof
"""

df7 = attendacne(x)
print(len(df7))
df7.head(60)

16

             CNIC
0   4210176950677
1   4130311530273
2   5440053241639
3   4230123587896
4   4220140843098
5   4250182298545
6   4210113978763
7   4230174256393
8   4210168710111
9   3310541597331
10  4130485196673
11  1510120026221
12  4220186465696
13  4220122191357
14  4220105920780
15  1234567890123

In [9]:
x = """
Abdullah Mukhtar12:42 PM
4210175758189
Farrukh Jalil12:42 PM
4210113978763
Farrukh Jalil12:51 PM
voice and picture are disapear
Muneeb Abdul Rauf1:09 PM
4230181544787
Nadir Ali1:09 PM
4130311530273
Syed Imran Ali1:15 PM
4210176950677
Syed Abbas Abbas1:42 PM
1234567890123
Zoya Ansari1:50 PM
4220186465696
Kenneth Fahad1:55 PM
33105-4159733-1
Rizwan Ali2:00 PM
4230174256393
Syed Umair Ahmed2:03 PM
4130485196673
Bilal Uddin2:06 PM
4220122191357
Madiha Obaid Obaid2:29 PM
4220105920780
MUSTAFA NADIMI2:29 PM
5440053241639
Muneeb Abdul Rauf2:29 PM
4210175758189
TARIQ JAMIL2:29 PM
42501-8229854-5
Farrukh Jalil2:29 PM
4210113978763
Syed Imran Ali2:29 PM
4210168710111
zqg-ohwk-tof
"""

df8 = attendacne(x)
print(len(df8))
df8.head(60)

15

             CNIC
0   4210176950677
1   4130311530273
2   4220122191357
3   5440053241639
4   4230181544787
5   4210113978763
6   4250182298545
7   4230174256393
8   4210168710111
9   3310541597331
10  4130485196673
11  4220186465696
12  4210175758189
13  4220105920780
14  1234567890123

In [10]:
x = """
Syed Imran Ali10:16 AM
4210176950677
Farrukh Jalil10:17 AM
4210113978763
TARIQ JAMIL10:17 AM
42501-8229854-5
Rizwan Ali10:18 AM
4230174256393
Kenneth Fahad10:18 AM
3310541597331
Syeda Zehra Nadeem10:28 AM
4230123587896
MUSTAFA NADIMI10:28 AM
5440053241639
Agha Zohaib10:28 AM
4210168710111
Syed Abbas Abbas10:33 AM
1234567890123
Syed Umair Ahmed10:36 AM
4130485196673
Bilal Uddin10:51 AM
4220122191357
Madiha Obaid Obaid10:52 AM
4220105920780
Syed Sajjad Ali Shah10:53 AM
1510120026221
Nadir Ali10:55 AM
4130311530273
You11:02 AM
https://en.wikipedia.org/wiki/Kernel_(image_processing)
Syed Abbas Abbas11:02 AM
wiki block
Atif Ismail11:08 AM
4220102620907
Bilal Uddin11:10 AM
4
Zoya Ansari11:46 AM
4220186465696
Farrukh Jalil11:52 AM
4210113978763
Javeria Abbasi11:53 AM
4220140843098
Please include my nic number
zqg-ohwk-tof
"""

df9 = attendacne(x)
print(len(df9))
df9.head(60)

17

             CNIC
0   4210176950677
1   4130311530273
2   5440053241639
3   4230123587896
4   4220102620907
5   4220140843098
6   4210113978763
7   4250182298545
8   4230174256393
9   4210168710111
10  3310541597331
11  4130485196673
12  1510120026221
13  4220186465696
14  4220122191357
15  4220105920780
16  1234567890123

In [11]:
x = """
Muneeb Abdul Rauf1:31 PM
4230181544787
Nadir Ali1:36 PM
4130311530273
Farrukh Jalil1:47 PM
no voice
Bilal Uddin1:48 PM
4220122191357
TARIQ JAMIL1:57 PM
42501-8229854-5
Javeria Abbasi1:59 PM
4220140843098
Kenneth Fahad2:12 PM
33105-4159733-1
Rizwan Ali2:12 PM
4230174256393
Syed Umair Ahmed2:14 PM
4130485196673
Madiha Obaid Obaid2:15 PM
4220105920780
Zoya Ansari2:20 PM
4220186465696
Abdullah Mukhtar2:20 PM
4210175758189
MUSTAFA NADIMI2:20 PM
5440053241639
Farrukh Jalil2:21 PM
4210113978763
Rizwan Ali2:21 PM
4210168710111
Syed Sajjad Ali Shah2:21 PM
1510120026221
Syed Imran Ali2:28 PM
4210176950677
Bilal Uddin2:28 PM
4220122191357
Farrukh Jalil2:28 PM
4210113978763
zqg-ohwk-tof
"""

df10 = attendacne(x)
print(len(df10))
df10.head(60)

16

             CNIC
0   4210176950677
1   4130311530273
2   5440053241639
3   4230181544787
4   4220140843098
5   4250182298545
6   4210113978763
7   4230174256393
8   4210168710111
9   3310541597331
10  4130485196673
11  1510120026221
12  4220186465696
13  4220122191357
14  4220105920780
15  4210175758189

In [12]:
df9[~df9.CNIC.isin(df10.CNIC.unique())]

             CNIC
3   4230123587896
4   4220102620907
16  1234567890123

In [13]:
x = """
Bilal Uddin10:00 AM
w,salam
Bilal Uddin10:04 AM
recording star krdijiye
Syed Imran Ali10:18 AM
4210176950677
Bilal Uddin10:20 AM
4220122191357
Syed Sajjad Ali Shah10:20 AM
1510120026221
Rizwan Ali10:20 AM
4230174256393
Syed Abbas Abbas10:21 AM
1234567890123
TARIQ JAMIL10:21 AM
42501-8229854-5
Agha Zohaib10:21 AM
4210168710111
Farrukh Jalil10:40 AM
4210113978763
Kenneth Fahad10:52 AM
sequence will be out
3310541597331
Madiha Obaid Obaid10:53 AM
4220105920780
Atif Ismail10:55 AM
4220102620907
Syeda Zehra Nadeem10:56 AM
4230123587896
Nadir Ali11:08 AM
4130311530273
MUSTAFA NADIMI11:08 AM
5440053261639
Kenneth Fahad11:09 AM
bArd
Syed Umair Ahmed11:23 AM
4130485196673
Zoya Ansari11:23 AM
4220186465696
Kenneth Fahad11:31 AM
fasttext
Muneeb Abdul Rauf11:32 AM
4230181544787
Kenneth Fahad11:43 AM
probably depends on the frequency of positive and negative words used
yes please
Kenneth Fahad11:44 AM
please guide about exam tomorrow
TARIQ JAMIL11:45 AM
could be if positive and negative words with respective intensities
Bilal Uddin11:47 AM
4220122191357
Syed Imran Ali11:48 AM
4210176950677
Muneeb Abdul Rauf11:48 AM
4230181554787
zqg-ohwk-tof
"""

df11 = attendacne(x)
print(len(df11))
df11.head(60)

18

             CNIC
0   4210176950677
1   4130311530273
2   4220102620907
3   4230123587896
4   4230181554787
5   4230181544787
6   4250182298545
7   4210113978763
8   4220186465696
9   4230174256393
10  4210168710111
11  1510120026221
12  3310541597331
13  5440053261639
14  4130485196673
15  4220122191357
16  4220105920780
17  1234567890123

In [14]:
x = """
Rizwan Ali10:14 AM
4230174256393
Madiha Obaid Obaid10:14 AM
4220105920780
Syed Imran Ali10:16 AM
4210176950677
Syed Abbas Abbas10:18 AM
1234567890123
Syeda Zehra Nadeem10:19 AM
4230123587896
Agha Zohaib10:19 AM
4210168710111
Zoya Ansari10:51 AM
4220186465696
Atif Ismail10:57 AM
4220102620907
MUSTAFA NADIMI10:57 AM
5440053241639
Syed Sajjad Ali Shah10:57 AM
1510120026221
Syed Imran Ali11:56 AM
4210176950677
Farrukh Jalil11:56 AM
4210113978763
TARIQ JAMIL11:56 AM
4250182298545
zqg-ohwk-tof
"""


df12 = attendacne(x)
print(len(df12))
df12.head(60)

12

             CNIC
0   4210176950677
1   4220102620907
2   4230123587896
3   5440053241639
4   4210113978763
5   4250182298545
6   4230174256393
7   4210168710111
8   1510120026221
9   4220186465696
10  4220105920780
11  1234567890123

In [15]:
x = """
Rizwan Ali1:01 PM
4230174256393
Muneeb Abdul Rauf1:01 PM
4230181544787
Bilal Uddin1:01 PM
4220122191357
Syed Abbas Abbas1:01 PM
1234567890123
Farrukh Jalil1:01 PM
4210113978763
Nadir Ali1:01 PM
4130311530273
TARIQ JAMIL1:01 PM
4250182298545
Syeda Zehra Nadeem1:04 PM
423012587896
Madiha Obaid Obaid1:04 PM
4220105920780
Syeda Zehra Nadeem1:04 PM
correction:4230123587896
MUSTAFA NADIMI1:04 PM
54000053241639
Syed Imran Ali1:15 PM
4210176950677
Agha Zohaib1:24 PM
4210168710111
MUSTAFA NADIMI1:32 PM
3310541597331
Syed Sajjad Ali Shah1:50 PM
1510120026221
Madiha Obaid Obaid1:53 PM
4220105920780
Syed Umair Ahmed2:11 PM
4130485196673
Farrukh Jalil2:12 PM
4210113978763
zqg-ohwk-tof
"""

df13 = attendacne(x)
print(len(df13))
df13.head(60)

15

             CNIC
0   4210176950677
1   4130311530273
2   4230123587896
3   5400005324163
4   4230181544787
5   4210113978763
6   4250182298545
7   4230174256393
8   4210168710111
9   3310541597331
10  1510120026221
11  4130485196673
12  4220122191357
13  4220105920780
14  1234567890123

In [16]:
x = """
Nadir Ali10:58 AM
4130311530273
Atif Ismail10:58 AM
4220102620907
Syed Umair Ahmed11:15 AM
4130485196673
Zoya Ansari11:20 AM
4220186465696
Bilal Uddin11:35 AM
4220122191357
Agha Zohaib11:46 AM
4210168710111
Momal Nadeem11:53 AM
4200006898576
Atif Ismail11:53 AM
4220102620907
Syed Abbas Abbas11:53 AM
1234567890123
Rizwan Ali11:53 AM
4230174256393
Syed Imran Ali11:53 AM
4210176950677
Kenneth Fahad11:53 AM
3310541597331
MUSTAFA NADIMI11:53 AM
5440053241639
TARIQ JAMIL11:54 AM
4250182298545
Nadir Ali11:54 AM
4130311530273
Madiha Obaid Obaid11:54 AM
4220105920780
zqg-ohwk-tof
"""
df14 = attendacne(x)
print(len(df14))
df14.head(60)

14

             CNIC
0   4210176950677
1   4130311530273
2   5440053241639
3   4250182298545
4   4200006898576
5   4210168710111
6   4230174256393
7   3310541597331
8   4130485196673
9   4220186465696
10  4220122191357
11  4220105920780
12  4220102620907
13  1234567890123

In [17]:
x = """
Syed Sajjad Ali Shah12:37 PM
1510120026221
Syeda Zehra Nadeem12:38 PM
4230123587896
Syed Abbas Abbas12:55 PM
1234567890123
Muneeb Abdul Rauf12:56 PM
4230181544787
Bilal Uddin12:56 PM
4220122191357
Nadir Ali1:01 PM
4130311530273
Syed Imran Ali1:12 PM
4210176950677
Zoya Ansari1:13 PM
4220186465696
Kenneth Fahad1:29 PM
33105-4159733-1
Madiha Obaid Obaid1:29 PM
4220105920780
Agha Zohaib1:29 PM
4210168710111
Syed Umair Ahmed1:30 PM
4130485196673
Nadir Ali1:34 PM
4130311530273
Rizwan Ali1:36 PM
4230174256393
MUSTAFA NADIMI1:42 PM
5440053241639
Rizwan Ali2:15 PM
4231074256393
TARIQ JAMIL2:15 PM
4250182298545
zqg-ohwk-tof
"""
df15 = attendacne(x)
print(len(df15))
df15.head(60)

16

             CNIC
0   4210176950677
1   4130311530273
2   5440053241639
3   4230123587896
4   4230181544787
5   4250182298545
6   4210168710111
7   4230174256393
8   1510120026221
9   3310541597331
10  4130485196673
11  4220186465696
12  4220122191357
13  4231074256393
14  4220105920780
15  1234567890123